:root {
  --color-background: #f8f9fa;
  --color-text: #bd8f51;
  --color-primary: #fbf2b6;
  --color-primary-out: #f8f9fa;
}

#home {
  background-color: var(--color-background) !important;
  color: var(--color-text) !important;
}
/* ------------ Barra Navegação ------------ */
.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #9bf0e1;
}

.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler {
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;
  width: 100px;
  height: 100px;
}

.nav-link {
  position: relative;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  color: var(--color-text) !important;
  font-size: 20px;
  font-weight: bold;
}

.nav-link:hover {
  color: var(--color-primary) !important;
  text-decoration: none !important;
}

.nav-link:before {
  content: ""; /* Isso é necessário para gerar o pseudo-elemento */
  position: absolute; /* Posiciona o pseudo-elemento em relação ao seu pai, que tem position: relative; */
  width: 0; /* Começa com uma largura de 0 para a animação */
  height: 2px; /* A altura da linha que você quer mostrar */
  bottom: 0; /* Posiciona na parte inferior do elemento */
  left: 50%; /* Começa no meio do elemento */
  background-color: var(--color-primary); /* A cor da linha */
  transition: all 0.3s ease-in-out; /* Transição suave para a animação */
  transform: translateX(-50%); /* Centra o elemento */
}

.nav-link:hover:before {
  width: 100%; /* A largura final quando o mouse está sobre o elemento */
  left: 0; /* Começa da esquerda */
  transform: translateX(
    0%
  ); /* Sem translação necessária depois que a largura é de 100% */
}

/*--------------MENU CANVAS ------------------------------*/

.offcanvas-half-width {
  width: 50vw !important;
  /*height: 400px; mudar tamanho da bar atual*/
  background-color: var(--color-primary);
  border-radius: 0px 10px 10px 0px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) !important;*/
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.offcanvas-body {
  text-align: center; /* Centralizando o conteúdo */
}

.navbar-nav {
  width: 100%;
  justify-content: center; /* Centraliza os itens do menu */
}

.social-media-icons {
  display: flex;
  justify-content: center; /* Centraliza os ícones */
  padding: 10px 0; /* Adiciona um pouco de espaço vertical */
}

.imgCanvas {
  width: 200px;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
}

/* Ajustar o tamanho da logo, se necessário 
.navbar-brand img {
  height: auto;  Mantenha a proporção da imagem 
    max-width: auto !important;
    max-width: 100px !important;
    
      
    }
*/

/*---------------- Personalizar Botões -------------------*/

.btSaibaQuem,
.btPerfil,
.btRodape {
  text-decoration: none !important;
  min-width: 100vw !important;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  background-color: var(--color-primary) !important;
  color: var(--color-text) !important;
  transform: translateX(-50%) !important;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) !important;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  outline: none;
}

.btSaibaQuem:hover {
  background-color: var(--color-primary-out) !important;
  color: var(--color-text) !important;
  transform: translateX(-50%) !important;
}

.btPerfil:hover {
  background-color: var(--color-primary-out) !important;
  color: var(--color-text) !important;
  transform: translateX(-50%) !important;
}

.btSaibaQuem,
.btServicos {
  background-color: var(--color-primary); /* Cor de fundo */
  color: var(--color-text); /* Cor de texto */
  padding: 10px 20px; /* Preenchimento interno */
  border-radius: 5px; /* Bordas arredondadas */
  font-weight: bold; /* Fonte em negrito */
  transition: background-color 0.3s ease; /* Transição suave de cor */
}

.btSaibaQuem,
.btServicos:hover {
  background-color: var(--color-primary-out); /* Cor ao passar o mouse */
  text-decoration: none; /* Removendo o sublinhado */
}

/* --------------------- Estilização de Section ---------------------*/

.quemSomos,
.servicos {
  background-image: url(../images/BacgroundOf.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 0;
  color: var(--color-text) !important;
  padding: 40px 0; /* Adiciona padding para melhor visualização */
  text-align: center; /* Centraliza o texto para mais impacto */
}

.quemSomos,
.servicos h2 {
  font-size: 2.5rem; /* Tamanho maior para o título */
  margin-bottom: 20px; /* Espaço abaixo do título */
  font-weight: bold; /* Negrito para maior impacto */
}

.quemSomos,
.servicos,
h3 {
  font-size: 1.8rem; /* Tamanho apropriado para subtítulos */
  margin-bottom: 15px; /* Espaço abaixo do subtítulo */
}

.quemSomos .txtQuem,
.txtServicos {
  line-height: 1.8; /* Aumentando o espaçamento entre linhas */
  letter-spacing: 0.5px; /* Espaçamento entre letras para melhor legibilidade */
  margin-bottom: 20px; /* Espaço antes do botão */
  font-size: 1.1rem; /* Tamanho de fonte adequado para leitura */
  text-align: justify;
}

.perfil {
  background-image: url(../images/fundoCorInvertida.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--color-text) !important;
  color: var(--color-primary-out) !important;
  text-align: center !important;
  font-family: "PoppinsMedium", "Rubik", sans-serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
  padding: 60px 0;
  border-bottom: 1px solid #e5e5e5;
}

/* Estilo base para os cards de serviços */

.card-servico {
  background: #fff; /* Fundo branco para o card */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
  margin-bottom: 30px; /* Espaçamento abaixo do card */
  padding: 20px; /* Espaçamento interno */
  transition: transform 0.3s ease-in-out; /* Transição para efeito ao passar o mouse */
}

.card-servico:hover {
  transform: translateY(-5px); /* Eleva o card ao passar o mouse */
}

/* Estilos específicos para o título do card */
.card-servico h4 {
  margin-top: 20px; /* Espaço acima do título */
  margin-bottom: 10px; /* Espaço abaixo do título */
  color: #333; /* Cor do texto para o título */
  font-size: 1.5rem; /* Tamanho da fonte do título */
}

/* Estilos para o texto dentro do card */
.card-servico .txtServicos {
  color: #666; /* Cor do texto para o parágrafo */
  font-size: 1rem; /* Tamanho da fonte para o parágrafo */
  line-height: 1.5; /* Espaçamento entre linhas */
}

/* Estilo para o botão 'Veja mais' */
.btServicos {
  background-color: #bd8f51; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  padding: 10px 20px; /* Preenchimento interno do botão */
  border-radius: 5px; /* Bordas arredondadas do botão */
  text-decoration: none; /* Remove o sublinhado do link */
  font-weight: bold; /* Negrito no texto do botão */
  margin-top: 30px; /* Espaço acima do botão */
  display: inline-block; /* Faz o link se comportar como um botão */
}

/* Estilo para o botão 'Veja mais' ao passar o mouse */
.btServicos:hover {
  background-color: #a6732c; /* Cor de fundo mais escura ao passar o mouse */
  color: #fff; /* Cor do texto */
  text-decoration: none; /* Remove o sublinhado */
  transition: background-color 0.3s ease; /* Transição suave da cor */
}

/*Media queries para versao Mobile*/

/* Esconde os ícones de redes sociais na versão desktop */
.social-media-icons {
  display: none; /* Esconde por padrão */
}

/* Mostra os ícones apenas no menu off-canvas em telas pequenas */
@media (max-width: 992px) {
  .social-media-icons {
    display: flex; /* Mostra os ícones apenas em telas menores */
    justify-content: center; /* Centraliza os ícones */
    padding: 10px 0; /* Adiciona um pouco de espaço vertical */
    padding-right: 20px;
  }
}

@media (max-width: 992px) {
  .nav-link {
    color: var(--color-text);
    font-size: 20px;
    font-weight: bold;
  }
  .nav-link:hover {
    color: var(--color-primary-out) !important;
    text-decoration: none !important;
  }
}
.card-servico {
  margin-bottom: 2rem; /* Adiciona 2rem de margem abaixo de cada card */
}
