 .offcanvas-half-width {

    width: 50vw !important;
    /*height: 400px; mudar tamanho da bar atual*/
    
   

}


/* Ajustar o tamanho da logo, se necessário */
.navbar-brand img {
  /*height: auto;  Mantenha a proporção da imagem */
    max-width: auto !important;
    max-width: 100px !important;
    
      
    }

.servicos {
  background-image: url(../images/backharmonny.jpg)!important;
}



